.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
    list-style-type: none;
}

li {
    text-decoration: none;
}

.test {
    border: 3px solid black;
}