body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* align-items: stretch; */
    height: 100vh;
    border: 1px solid black;
}

.body-section {
    /* temp for testing - outline sections */
    border: 2px dotted red;
    flex: 1;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.section-1 {
    padding-bottom: 32px;
}

.section-1-header {
    display: flex;
    justify-content: space-between;
}

.section-1-header ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

li {
    text-decoration: none;
}

.section-1-body {
    display: flex;
    flex-direction: row;

}

.pretend-image {
    align-self: center;
    width: 600px;
    height: 300px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.test {
    border: 3px solid black;
}