body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* align-items: stretch; */
    height: 100vh;
    border: 1px solid black;
}

.body-section {
    /* temp for testing - outline sections */
    border: 2px dotted red;
    flex: 1;
}

.section-header {
    display: flex;
    justify-content: space-between;
}

.section-header ul {
    display: flex;
    list-style-type: none;
}

li {
    text-decoration: none;
}

.test {
    border: 3px solid black;
}